@import '../../asset/variables';
.cloth{
    
    width: 15vw;
    height: 15vw;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 1vw;

    border-radius: 12px;
    box-shadow: 6px 6px 4px 0px rgba(202, 202, 202, 0.712);
    backdrop-filter: blur(40px);
    background: rgba(214, 214, 214, 0.788);
    border-radius: 16px;
    // border: 1px solid red;

    img{
        width: 80%;

    }

    // h4{
    //     color: $textColor;
    //     text-align: center;
    //     font-size: 3vh;
    // }
    &:hover{
        transform: scale(104%);
      }
}

